Source: openmediavault-diskclone
Section: misc
XB-Plugin-Section: backup
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
Homepage: http://omv-extras.org/

Package: openmediavault-diskclone
Architecture: all
Depends: fsarchiver,
         openmediavault (>=7)
Description: disk clone plugin for OpenMediaVault.
 This plugin will clone one disk to another.
